.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-mono);
  text-decoration: none;
  color: var(--color-foreground);
  transition: color 0.15s linear;
  height: 100%;
  border: 1px solid var(--color-muted);
  border-radius: var(--radius);
  padding: var(--space-6) var(--space-6);
  min-width: 0;
  overflow-wrap: break-word;
}

.card:hover {
  color: var(--color-accent);
}

.card[data-title]::before {
  content: attr(data-title);
  position: absolute;
  top: calc(var(--space-2) * -1.25);
  left: var(--space-3);
  padding: 0 var(--space-3);
  background-color: var(--color-background);
  color: var(--color-accent);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
