.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-8) var(--space-4);
  font-family: var(--font-mono);
}

.pages {
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

.link {
  color: var(--color-foreground);
  text-decoration: none;
  padding: var(--space-2);
  transition: color 0.15s linear;
}

.link:hover {
  color: var(--color-accent);
}

.current {
  color: var(--color-accent);
  padding: var(--space-2);
  font-weight: var(--font-weight-bold);
}
